spring.application.name=levelup

# Database Connection
spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver

# JWT Configuration
jwt.secret=${JWT_SECRET}
jwt.expiration=10800000

# App Constants
app.gamification.xp-per-level=100
app.gamification.daily-task-limit=8
app.gamification.min-program-tasks=4
